body { 
  padding-top: 70px; 
}

ul.action-buttons, ul.cards {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul.action-buttons li, ul.cards li {
  display: inline-block;
}

ul.cards li {
  margin-right:1em
}

.cards img {
  height: 12em;
}

ul.navbar-nav {
  margin-top: 1em;
  color: #999;
}

ul.navbar-nav li {
  margin-right: 2em;
}

li.bet-score {
  color: #333;
}